<h1>トップ画面</h1>
<%= notice %>
<% if logged_in? %>
  <li><%= link_to "Users", '#' %></li>
  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  </li>
<% else %>
  <li><%= link_to "Log in", login_path %></li>
  <li><%= link_to "ユーザ登録", signup_path %></li>
<% end %>
